
body{
  text-align: center;
}

h1{
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.square{
  
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color:beige;
  border: 2px solid black ;
}

.x{
  position: relative;
}

.x:after{
  position: absolute;
  content: "\274C";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.o{
  position: relative;
}

.o:after{
  position: absolute;
  content: "\2B55";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#gameStatus{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(230, 18, 18);
}

#gameOver{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 60px;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;

}


#restart{
  color: white;
  background-color: rgb(230, 18, 18);
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}


@media screen and (max-width: 334px) {

  .square{
    
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color:beige;
    border: 2px solid black ;
  }
  

  
}



